<div class="nav">
    <ul class="list-items">
        <a class="list" href="./">Weather</a>
        <a class="list" href="./about">About</a>
        <a class="list" href="./help">Help</a>
    </ul>
    <hr>
    <p class="credits">Created by Krishna Udupa</p>
</div>