<html>

<head>
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class="container">
        {{>header}}
        <p>If you actually wanted help to use a website as basic as this then consider yourself as a complete idoit
            and you are unfit to be using the internet at all!
        </p>
        {{>fotter}}
    </div>
</body>

</html>