<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class="container">
        {{>header}}
        <p>Check weather outside before you leave the house!</p>
        <form class="city-name-form">
            <input type="text" class="city-name-input" placeholder="Location">
            <button type="submit">Search</button>
        </form>
        <p class="response"></p>
        {{>fotter}}
    </div>
    <script src="utils.js"></script>
</body>

</html>